<div class="row">
    <div class="col-12">Updated: {{date(currentWeather.current.dt)}}</div>
    <div *ngIf="currentUser$ | async as user">Welcome, {{user.first}}</div>
</div>

<div>
    <mat-select (selectionChange)="locationChange($event)" >
        <mat-option *ngFor="let location of locations$ | async" [value]="location.name">
            {{location.name}}
        </mat-option>
    </mat-select>
</div>

<div class="weather">
    <div class="today">
        <weather-detailed-weather-card [current]="currentWeather.current" [daily]="currentWeather.daily[0]" [hourly]="currentWeather.hourly"></weather-detailed-weather-card>
    </div>
    <div class="forecast">
        <div *ngFor="let daily of currentWeather.daily | slice:1:currentWeather.daily.length - 1">
            <weather-summary-weather-card [daily]="daily"></weather-summary-weather-card>
        </div>
    </div>
</div>

<!-- <div class="row no-gutters">
    <div class="col-4">
        <weather-detailed-weather-card [daily]="currentWeather.daily[0]" [hourly]="currentWeather.hourly"></weather-detailed-weather-card>
    </div>
    <div class="col-8">
        <div class="row no-gutters">
            <div class="col-4" *ngFor="let daily of currentWeather.daily | slice:1:currentWeather.daily.length - 1">
                <weather-summary-weather-card [daily]="daily"></weather-summary-weather-card>
            </div>
        </div>
    </div>
</div> -->

<!-- Hourly
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Icon</th>
            <th>Temperature</th>
            <th>Feels Like</th>
            <th>Rain</th>
            <th>Wind Speed</th>
            <th>Wind Gust</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hourly of currentWeather?.hourly">
            <td>{{hour(hourly.dt)}}</td>
            <td><img src="https://openweathermap.org/img/wn/{{hourly.weather[0].icon}}@2x.png" width="100" height="100" /></td>
            <td>{{hourly.temp}} &deg;F</td>
            <td>{{hourly.feels_like}} &deg;F</td>
            <td>{{hourly?.rain ? (hourly.rain['1h'] / 25.4).toFixed(4) : 0}} inches</td>
            <td>{{hourly.wind_speed}} m/hr {{hourly.wind_deg | windDirection}}</td>
            <td>{{hourly.wind_gust}} m/hr {{hourly.wind_deg | windDirection}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <hr />

Minutely
<table>
    <thead>
        <tr>
            <th style="border: 1px solid #CCC; padding: 5px;">Time</th>
            <th style="border: 1px solid #CCC; padding: 5px;">Rain</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let minutely of currentWeather?.minutely">
            <td style="border: 1px solid #CCC; padding: 5px;">{{day(minutely.dt)}} {{hour(minutely.dt)}}</td>
            <td style="border: 1px solid #CCC; padding: 5px;">{{minutely.precipitation}}</td>
        </tr>
    </tbody>
</table> -->
